/* nejsme vcerejsi, pouzivame moderni box model */
*, ::after, ::before { box-sizing: border-box; }

/*
 BARVY
 pozadi           #f5f5f5
 dekorace nadpisů #629edb
*/

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Raleway', serif;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 100;

}
a {
    color: grey;
}

p, h2 {
    margin: 1.5rem;
}


/* HLAVICKA */



.titulek {
    font-family: 'Raleway', serif;
    font-size: 2rem;
}
header {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('island-hlavicka.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-bottom: 0;
    text-shadow: 1px 2px 3px #2b2a2a;
}

.autor {
    opacity: 85%;
    font-style: italic;
}


/* HlAVNI OBSAH */

.obsah {
box-shadow: 0px 10px 10px #acaaaa;
min-width: 300px;
}


/* MENU */

.menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin:  0;
    text-transform: uppercase;
    padding:1rem;
    text-align: center;

}

.menu li {
    border-bottom: 1px solid lightgrey;
    width: 100%;
    color: lightgray;
    padding: 1rem;
}

.menu a {
    text-decoration: none;
}

p.popisek {
    color:grey;
    text-align: center;
    margin: 0;
    font-size: 14px;

}




/* OBSAH */


.uvod img,.proc img, .musite_videt img {
    width: 100%;
    padding: 0;

}

h2 {
    font-family: 'Raleway', serif;
    font-size: 1.8rem;
}

/* FOTOGALERIE */

.galerie {
    display: flex;
    flex-wrap: wrap;

}
figure {
    margin: 0;
}
figure img {
    
    width: 100%;
}

.popisek {
    font-size: 20x;
    font-weight: 900;
    text-align: center;
    color:#464646;
    font-family: 'Raleway', serif;
    
}
.popisek-copy {
    font-size: 14px;
    font-weight: normal;
    color:grey;
    
}

/* PATICKA */
footer p {
    color:grey;
    font-size: 14px;
}

@media screen and (min-width: 500px) {
    .menu {
        flex-direction: row;
        font-size: 14px;
        white-space: nowrap;
        margin: 2rem;
    
    }
    .menu li {
    
       border: 1px  solid lightgrey;
       border-right: none;
      
    }

    .menu a:hover {
        text-decoration: underline;
        color: rgb(41, 41, 41);
        font-weight: bold;
    }

    #tlacitko {
        border-left: none;
    }
    
    p.popisek {
        position: absolute;
        color:white;
        right: 30px;
        bottom: 20px;
    }
    p a {
        color:white;
    }
    .uvod, .proc, .musite_videt {
        position: relative;
    }
/* Fotogalerie */


   figcaption {
    position: absolute;
    display: none;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    margin: 0;
    height: 48px;
    padding-bottom: 0.5rem; 
    }


    .foto {
        width: 50%;
        position: relative;
        line-height: 0;
    }
    
    .popisek, .popisek-copy, .popisek a {
        line-height: 1.6;
        color: white;
        font-size: 14px;
    }
   

    .foto:hover img {
        opacity: 0.6;
        transition: 500ms;
    }
    .foto:hover .popisek {
        display: block;
        transform: translate(0rem,-3rem);
        transition: block 2s;
       
    }
   
}
