/* nejsme vcerejsi, pouzivame moderni box model */
*, ::after, ::before { box-sizing: border-box; }

/*
 BARVY
 pozadi           #f5f5f5
 dekorace nadpisů #629edb
*/

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Raleway', serif;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 100;

}
a {
    color: grey;
}

p, h2 {
    margin: 1.5rem;
}


/* HLAVICKA */



.titulek {
    font-family: 'Raleway', serif;
    font-size: 2rem;
}
header {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('island-hlavicka.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-bottom: 0;
    text-shadow: 1px 2px 3px #2b2a2a;
}

.autor {
    opacity: 85%;
    font-style: italic;
}


/* MAIN */

main {
box-shadow: 0px 10px 10px #acaaaa;
min-width: 300px;
}


/* MENU */

.menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin:  0;
    text-transform: uppercase;
    padding:1rem;
    text-align: center;

}

.menu li {
    border-bottom: 1px solid lightgrey;
    width: 100%;
    color: lightgray;
    padding: 1rem;
}

.menu a {
    text-decoration: none;
}

p.popisek {
    color:grey;
    text-align: center;
    margin: 0;
    font-size: 14px;

}




/* MAIN */


.uvod img,.proc img, .musite_videt img {
    width: 100%;
    padding: 0;

}

h2 {
    font-family: 'Raleway', serif;
    font-size: 1.8rem;
}
.fotka { 
    max-width: 100%;
}
.fotka img {
    max-width: 100%;
}
/* FOTOGALERIE */

.galerie {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;

}
figure {
    margin: 0;
}
figure img {
    width: 100%;
}
.foto {
    width: 100%;
}

.popisek {
    font-size: 20x;
    font-weight: 900;
    text-align: center;
    color:#464646;
    font-family: 'Raleway', serif;
    
}
.popisek-copy {
    font-size: 14px;
    font-weight: normal;
    color:grey;
    
}


/* PATICKA */
footer p {
    color:grey;
    font-size: 14px;
}

/* 1.breakpoint (tablet) */

@media screen and (min-width: 500px) {
    
    
    /* menu */
        .menu {
            flex-direction: row;
            font-size: 14px;
            white-space: nowrap;
            margin: 2rem;
        
        }
        .menu li {
        
        border: 1px  solid lightgrey;
        border-right: none;
        
        }

        .menu a:hover {
            text-decoration: underline;
            color: rgb(41, 41, 41);
            font-weight: bold;
        }

        #tlacitko {
            border-left: none;
        }
        
    /* main */

        p.popisek {
            position: absolute;
            color:white;
            right: 30px;
            bottom: 20px;
        }
        p a {
            color:white;
        }
        .uvod, .proc, .musite_videt {
            position: relative;
        }
        .fotka{
            position: relative;
        }
    /* Fotogalerie */


        figcaption {
            position: absolute;
            display: none;
            font-weight: bold;
            background-color: rgba(0, 0, 0, 0.6);
            width: 100%;
            margin: 0;
            height: 48px;
            padding-bottom: 0.5rem; 
            
            }


            .foto {
                width: 50%;
                position: relative;
                line-height: 0;
                overflow: hidden;
            }
            
            .popisek, .popisek-copy, .popisek a {
                line-height: 1.6;
                color: white;
                font-size: 14px;
            }
        
        
            .foto:hover img {
                opacity: 0.6;
                transform: scale(1.2);
                
                
            }
            .foto:hover .popisek {
                display: block;
                transform: translate(0rem,-3rem);
                transition: block 2s;
            }

     /* paticka */       
            
            footer a {
                color: grey;
            }
}
/* 2.breakpoint (PC) */

@media screen and (min-width: 1000px) {

    /* main */

        main {
                width: 960px;
                position: relative;
                background-color:#f5f5f5 ;
                margin: auto;
                bottom: 20px;
                z-index:1;
            }

        header {
            z-index: -1;
        }
        .navigace {
            display: flex;
            flex-wrap: wrap;
        }
        .menu {
            flex-basis: 20%;
            flex-direction: column;
        }
        .menu li {
            border-left: none;
            border-right: none;
            border-bottom: none;
            padding: 8px;
            text-align: left;
        }
        .uvod {
            flex-basis: 70%;
        }
        .navigace p.popisek {
                position: absolute;
                color:white;
                right: 30px;
                bottom: 20px;
        }
        #proc-odstavec {
            padding-right: 12rem;
        }
        #mustsee-odstavec, #zmena-strany {
            padding-left: 15rem;
        }
    /* fotogalerie */
        .foto {
            width: calc((100% / 3) - 0.1px);
        }

     /* paticka */
        footer {
            width: 960px;
            margin: auto;
        }
}